<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>DocQL - SQL Server Management Studio</title>
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["css/variables.css"]" />
    <link rel="stylesheet" href="@Assets["css/layout.css"]" />
    <link rel="stylesheet" href="@Assets["css/toolbar.css"]" />
    <link rel="stylesheet" href="@Assets["css/tabs.css"]" />
    <link rel="stylesheet" href="@Assets["css/tree-view.css"]" />
    <link rel="stylesheet" href="@Assets["css/data-grid.css"]" />
    <link rel="stylesheet" href="@Assets["css/modal.css"]" />
    <link rel="stylesheet" href="@Assets["css/context-menu.css"]" />
    <link rel="stylesheet" href="@Assets["css/forms.css"]" />
    <link rel="stylesheet" href="@Assets["css/icons.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["DocQL.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["js/split-panel.js"]"></script>
    <script src="@Assets["js/context-menu.js"]"></script>
    <script src="@Assets["js/diagram.js"]"></script>
    <script src="@Assets["js/monaco-interop.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
